        mac_base_layer {
            #define MB13  &hm          LCMD   A
            #define MB14  &hm          LALT   S
            #define MB15  &hm          LSHFT  D
            #define MB16  &hm          LCTRL  F

            #define MB19  &hm  RCTRL  J  //J
            #define MB20  &hm  RSHFT  K  //K
            #define MB21  &hm  LALT   L  //L
            #define MB22  &hm  RCMD   SEMI  //;

            #define MB35  &mp_m_stg
            #define MB38  &mo_mAXNmBAS_to_mAXN  0  0
            #define MB39  &mo_mAXNmBAS_to_mFNK  0  0
            #define MB41  &mp_m_dev

            display-name = "mBAS";
            bindings = <
&kp TAB     &kp Q  &kp W  &kp E     &kp R  &kp T             &kp Y        &kp U            &kp I      &kp O    &kp P     &switch_layuot
&kp LSHFT   MB13   MB14   MB15      MB16  &kp G              &kp H        MB19      MB20     MB21      MB22  &kp SQT
MKY_ESC     &kp Z  &kp X  &kp C     &kp V  &kp B             &kp N        &kp M            &kp COMMA  &kp DOT  &kp FSLH  MB35
                          &kp LCTRL  &mo 1  &lt MKY_SPC         MKY_RET  MKY_BSPC      MB41
            >;
        };

        mac_dev_layer {
            display-name = "mDEV";
            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &m_mi_g
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &m_mi_t
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };

        mac_act_num_layer {
            display-name = "mAXN";
            bindings = <
&kp TAB      &kp N1  &kp N2  &kp N3    &kp N4  &kp N5                  &kp N6         &kp N7             &kp N8              &kp N9          &kp N0      &mo 4
&trans       &trans  &trans  &trans    &trans  &kp LS(LG(NUMBER_4))    &kp LEFT       &kp DOWN           &kp UP              &kp RIGHT       &caps_word  &trans
&bootloader  &trans  &trans  &trans    &trans  &kp DEL                 &mt LALT LEFT  &mt LG(END) PG_DN  &mt LG(HOME) PG_UP  &mt LALT RIGHT  &trans      &trans
                             &kp LGUI  &trans  &kp SPACE               &mo 4          &trans             &kp RALT
            >;
        };

        mac_functions_layer {
            display-name = "mFNK";
            bindings = <
&kp F1  &kp F2    &kp F3    &kp F4     &kp F5     &kp F6    &kp F7  &kp F8        &kp F9            &kp F10       &kp F11  &kp F12
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans  &kp C_VOL_DN  &kp K_MUTE        &kp C_VOL_UP  &trans   &trans
&trans  &trans    &trans    &trans     &trans     &trans    &trans  &trans        &kp K_PLAY_PAUSE  &trans        &trans   &trans
                            &trans     &kp SPACE  &trans    &trans  &trans        &trans
            >;
        };


        mac_settings_layer {
            #define MSLU5  &kp RG(PLUS)                 // tap: zoom in
            #define MSLD5  &kp RG(MINUS)                // tap: zoom out
            #define MSRU0  &kp C_VOL_UP
            #define MSRU1  &kp LS(LA(LG(LC(LEFT))))     // tap: rectangle top left
            #define MSRU2  &kp LS(LA(LG(UP)))           // tap: rectangle top half
            #define MSRU3  &kp LS(LA(LG(LC(RIGHT))))    // tap: rectangle top right
            #define MSRU4  &none
            #define MSRU5  &bootloader                        // tap: task manager

            #define MSRM0  &mp_mSTG_m                   // tap: vol mute | shift: mic mute
            #define MSRM1  &hm RSHFT  LS(LA(LG(LEFT)))  // tap: rectangle left half
            #define MSRM2  &hm_mSTG_RA  LALT 0          // tap: mp_mSTG_rectangle
            #define MSRM3  &kp LS(LA(LG(RIGHT)))        // tap: rectangle right half
            #define MSRM4  &kp LC(UP)                   // tap: mission control
            #define MSRM5  &none

            #define MSRD0  &kp C_VOL_DN
            #define MSRD1  &kp LA(LG(LC(LEFT)))         // tap: rectangle bottom left
            #define MSRD2  &kp LS(LA(LG(DOWN)))         // tap: rectangle bottom half
            #define MSRD3  &kp LA(LG(LC(RIGHT)))        // tap: rectangle bottom right
            #define MSRD4  &kp LC(DOWN)                 // tap: application window
            #define MSRD5  &none

            display-name = "mSTG";
            bindings = <
&trans  &kp EXCLAMATION  &kp AT            &kp HASH    &kp DLLR      MSLU5          MSRU0  MSRU1  MSRU2  MSRU3  MSRU4  MSRU5
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    MSRM0  MSRM1  MSRM2  MSRM3  MSRM4  MSRM5
&trans  &trans           &trans            &trans      &trans        MSLD5          MSRD0  MSRD1  MSRD2  MSRD3  MSRD4  MSRD5
                                           &trans      &trans        &trans          &trans          &trans     &trans
            >;
        };