#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/* Global */
#include "os/shared/times.dtsi"
#include "os/shared/general.dtsi"
// #include "os/macos/layers.dtsi"


/* Helpers */
#include "helpers/macros.dtsi"
#include "helpers/hold.dtsi"
#include "helpers/morph.dtsi"

/ {
    macros {
        #include "os/macos/macros/layers.dtsi"
        #include "os/macos/macros/global.dtsi"
    };
};

/ {
    behaviors {
        #include "os/macos/morph/layers.dtsi"
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        #include "os/macos/keymap.dtsi"
    };
};